@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply h-screen scroll-smooth;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.poppins {
  font-family: var(--font-poppins);
}
